extends layout

block content
    form(method="post" id="form")
        div(class="col-sm-12")
            h4(class="margin-top")  Prompt
        div(class="col-sm-12")
            div(class="checkbox col-sm-12 col-md-2")
                label
                    input(type="checkbox" name="prompt_none" id="prompt_none")
                    .
                        none
            div(class="checkbox col-sm-12 col-md-2")
                label
                    input(type="checkbox" name="prompt_login" id="prompt_login")
                    .
                        login
            div(class="checkbox col-sm-12 col-md-2")
                label
                    input(type="checkbox" name="prompt_consent" id="prompt_consent")
                    .
                        consent

        div(class="col-sm-12")
            h4(class="margin-top")  Scopes
        div(class="col-sm-12")
            div(class="checkbox col-sm-12 col-md-2")
                label
                    input(type="checkbox" name="scope_profile" id="scope_profile" checked)
                    .
                        profile
            div(class="checkbox col-sm-12 col-md-2")
                label
                    input(type="checkbox" name="scope_email" id="scope_email")
                    .
                        email
            div(class="checkbox col-sm-12 col-md-2")
                label
                    input(type="checkbox" name="scope_phone" id="scope_phone")
                    .
                        phone
            div(class="checkbox col-sm-12 col-md-2")
                label
                    input(type="checkbox" name="scope_offline_access" id="scope_offline_access")
                    .
                        offline_access

        div(class="col-sm-12")
            h4(class="margin-top")  Acr
        div(class="col-sm-12")
            div(class="col-sm-12")
                p Nivel 0
                hr
                div(class="radio col-sm-12 col-md-2")
                    label
                        input(type="radio" name="acr_value" value="only_questions")
                        .
                            only_questions

            div(class="col-sm-12")
                p Nivel 1
                hr
                div(class="radio col-sm-12 col-md-2")
                    label
                        input(type="radio" name="acr_value" value="one_factor" checked)
                        .
                            one_factor
                div(class="radio col-sm-12 col-md-2")
                    label
                        input(type="radio" name="acr_value" value="only_password")
                        .
                            only_password

            div(class="col-sm-12")
                p Nivel 2
                hr
                div(class="radio col-sm-12 col-md-2")
                    label
                        input(type="radio" name="acr_value" value="two_factor")
                        .
                            two_factor
                div(class="radio col-sm-12 col-md-2")
                    label
                        input(type="radio" name="acr_value" value="fingerprint_mobile")
                        .
                            fingerprint_mobile

            div(class="col-sm-12")
                p Nivel 3
                hr
                div(class="radio col-sm-12 col-md-2")
                    label
                        input(type="radio" name="acr_value" value="pki_dnie")
                        .
                            pki_dnie
                div(class="radio col-sm-12 col-md-2")
                    label
                        input(type="radio" name="acr_value" value="pki_dnie_mobile")
                        .
                            pki_dnie_mobile
                div(class="radio col-sm-12 col-md-2")
                    label
                        input(type="radio" name="acr_value" value="pki_token")
                        .
                            pki_token

        div(class="col-sm-12")
            h4(class="margin-top")  Response Types
        div(class="col-sm-12")
            div(class="checkbox col-sm-12 col-md-2")
                label
                    input(type="checkbox" name="response_code" id="response_code" checked)
                    .
                        code
            div(class="checkbox col-sm-12 col-md-2")
                label
                    input(type="checkbox" name="response_id_token" id="response_id_token")
                    .
                        id_token
            div(class="checkbox col-sm-12 col-md-2")
                label
                    input(type="checkbox" name="response_token" id="response_token")
                    .
                        token

        div(class="col-sm-12")
            h4(class="margin-top")  More Params
        div(class="col-sm-12")
            div(class="form-group")
                label(for="max_age") Max Age:
                input(class="form-control" name="max_age" id="max_age")

            div(class="form-group")
                label(for="login_hint") Login hint:
                input(class="form-control" name="login_hint" id="login_hint")

        div(class="col-sm-12 text-center content-btn")
            button(class="btn btn-primary" id="btnSubmit") Autenticar

block scripts
    script(src="js/main.js")
    script(src="js/constants.js")
    script(src="js/auth.js")
    script(src="js/home.js")