extends layout

block content
    form(method="post" id="form")
        h2 Prompt
        div(class="row contenido")
            div(class="col-lg-2 col-md-4")
                div(class="icheck-material-red")
                    input(type="checkbox" name="prompt_none" id="prompt_none")
                    label(for='prompt_none') none
            div(class="col-lg-2 col-md-4")
                div(class="icheck-material-red")
                    input(type="checkbox" name="prompt_login" id="prompt_login")
                    label(for='prompt_login') login
            div(class="col-lg-2 col-md-4")
                div(class="icheck-material-red")
                    input(type="checkbox" name="prompt_consent" id="prompt_consent")
                    label(for='prompt_consent') consent

        h2 Scopes
        div(class="row contenido")
            div(class="col-lg-2")
                div(class="icheck-material-red")
                    input(type="checkbox" name="scope_profile" id="scope_profile" checked)
                    label(for='scope_profile') profile

        h2 Acr
        div(class="row contenido")
            div(class="col-lg-4 col-sm-6")
                div(class="icheck-material-red")
                    input(type="radio" name="acr_value" id="pki_dnie" value="pki_dnie" checked)
                    label(for='pki_dnie') pki_dnie
            div(class="col-lg-4 col-sm-6")
                div(class="icheck-material-red")
                    input(type="radio" name="acr_value" id="pki_dnie_mobile" value="pki_dnie_mobile" )
                    label(for='pki_dnie_mobile') pki_dnie_mobile
            div(class="col-lg-4 col-sm-6")
                div(class="icheck-material-red")
                    input(type="radio" name="acr_value" id="pki_token" value="pki_token")
                    label(for='pki_token') pki_token
            div(class="col-lg-4 col-sm-6")
                div(class="icheck-material-red")
                    input(type="radio" name="acr_value" id="pki_dnie_legacy" value="pki_dnie_legacy")
                    label(for='pki_dnie_legacy') pki_dnie_legacy
            div(class="col-lg-4 col-sm-6")
                div(class="icheck-material-red")
                    input(type="radio" name="acr_value" id="pki_token_legacy" value="pki_token_legacy")
                    label(for='pki_token_legacy') pki_token_legacy

        h2 Response Types
        div(class="row contenido")
            div(class="col-lg-2 col-md-4")
                div(class="icheck-material-red")
                    input(type="checkbox" name="response_code" id="response_code" checked)
                    label(for='response_code') code
            div(class="col-lg-2 col-md-4")
                div(class="icheck-material-red")
                    input(type="checkbox" name="response_id_token" id="response_id_token")
                    label(for='response_id_token') id_token
            div(class="col-lg-2 col-md-4")
                div(class="icheck-material-red")
                    input(type="checkbox" name="response_token" id="response_token")
                    label(for='response_token') token

        h2  More Params
        div(class="row contenido")
            div(class="col-lg-12")
                label(for="max_age") Max Age:
                input(class="form-control" name="max_age" id="max_age")

            div(class="col-lg-12")
                label(for="login_hint") Login hint:
                input(class="form-control" name="login_hint" id="login_hint")

        div(class="row contenido")
            div(class="col-lg-12 text-center")
                button(class="btn btn-autenticar" id="btnSubmit") Autenticar

block scripts
    script(src="js/main.js")
    script(src="js/home.js")
